body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

#clock{
    font-family: "paysley sports";
    font-size: 10em;
}

@font-face {
    font-family: "paysley sports";
    src: url('Paysley Sports.ttf') format("truetype");
  }