@font-face {
    font-family: "Royal AcidBath Outline";
    src: url('Royal AcidBath Outline.ttf') format("truetype");
}
*{
    /* font-family: "impact"; */
}
#toDoList{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#toDoList #listDone{
    flex-direction: column;
}

h1{
    font-size: 3em;
}

input, button, span{
    font-size: 2em;
}

button{
    background-color: gold;
    border-radius: 0.2em;
    cursor: pointer;
}

#list li{
    display: flex;
    justify-content: space-evenly;
}

ul{
    width: 100%;
}

li{
    list-style: none;
    padding: 0.5em;
}

.delete,.modify,.done{
    border-top: none;
    border-left: none;
}

.delete:hover{
    background-color: crimson;
}

.modify:hover{
    background-color: royalblue;
}

.done:hover{
    background-color: seagreen;
}

#editForm{
    display: none;
}
