* {
    font-family: 'Times New Roman';
}

#modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

#close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

button {
    cursor: pointer;
    border: black solid 1px;
    padding: 0.1em 0.5em 0.1em 0.5em;
    border-radius: 0.3em;
}

form button {
    background-color: #1E90FF;
}

form button:hover,
li button:hover {
    opacity: 70%;
}


li div,
li button {
    font-weight: bold;
}

li div {
    margin-bottom: 0.5em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-bottom: solid black 1px;
}

li button {
    margin: 0 0.5em 1em 0.5em;
}

li button:nth-child(2) {
    background-color: rgb(218, 124, 0);
}

li button:nth-child(3) {
    background-color: rgb(135, 218, 255);
}

li button:nth-child(4) {
    background-color: rgb(60, 181, 0);
}

ul {
    /* width: 100vh; */
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

@media(max-width:800px){
    ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(max-width:540px){
    ul {
        grid-template-columns: repeat(1, 1fr);
    }
}

li {
    /* width: 33,33vh; */
    list-style: none;
    margin: 0.5em;
    border-top: black solid 1px;
    border-bottom: black solid 1px;
    border: 1px solid black;
    border-radius: 0.3em;
    box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 30%);
    text-align: center;

}

li div {
    display: flex;
    justify-content: space-around;
}

li div img:nth-child(1),
li div img:nth-child(3) {
    width: 30px;
    height: 30px;
}
li div img:nth-child(3) {

    transform: scaleX(-1);
}

#div-box {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#div-form {
    border: black solid 2px;
    padding: 0.5em 0 0.5em 0;
    border-radius: 0.3em;
    box-shadow: 5px 5px 5px 0 rgb(0 0 0 / 30%);
}

label {
    font-size: 2em;
}

#div-form form {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#div-box>* {
    width: 50%;
    border: double black 5px;
    border-radius: 0.3em;
    padding: 1em;
    margin: 1em;
    box-shadow: 10px 10px 10px 0 rgb(0 0 0 / 30%);
}

#div-box h2 {
    border-bottom: black solid 2px;
}

#tasksDone {
    text-decoration: line-through;
}